absl-py==0.7.1
gym==0.21.0
gym3==0.3.3
rlgym==1.2.0
pyjson5==1.6.1
matplotlib>=3.1, <4
MinAtar==1.0.10
msgpack==1.0.2
msgpack-numpy==0.4.7.1
lz4==4.0.0
numpy==1.21.4
pandas==1.3.5
psutil==5.8.0
pywin32==228
redis==3.5.3
scipy>=1.8.0, <2.0.0
rlgym-tools==1.7.0
stable-baselines3==1.5.0

--find-links https://download.pytorch.org/whl/torch_stable.html
# torch==1.11.0+cpu # CPU only version (smaller, no gpu acceleration)
torch==1.11.0
torchvision==0.12.0

trueskill==0.4.5
typing-extensions==3.7.4.3
typing-inspect==0.6.0
zuper-typing-z6==6.1.8
wandb==0.10.33

lz4==4.0.0
